<html>
<head>
  <title>{% block title %}{% endblock %}</title>
</head>
{% load static %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{% static 'css/front.css' %}">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>
  <div class="head">
    </div>
    <br><br>
    <div class="w3-container">
    <div class="w3-row">
   <a href="javascript:void(0)" onclick="openCity(event, 'Home');">
     <div class="w3-third tablink w3-bottombar w3-hover-light-grey w3-padding" align="center">Home</div>
   </a>
   <a href="{% url 'FoodEx:cart' %}" onclick="openCity(event, 'Cart');">
     <div class="w3-third tablink w3-bottombar w3-hover-light-grey w3-padding" align="center">Cart</div>
   </a>
   <a href="{% url 'FoodEx:payment' %}" onclick="openCity(event, 'Payment');">
     <div class="w3-third tablink w3-bottombar w3-hover-light-grey w3-padding" align="center">Payment</div>
   </a>
    </div></div>
<script>

function openCity(evt, cityName) {
  var i, x, tablinks;
  x = document.getElementsByClassName("city");
  for (i = 0; i < x.length; i++) {
     x[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablink");
  for (i = 0; i < x.length; i++) {
     tablinks[i].className = tablinks[i].className.replace(" w3-border-red", "");
  }
  document.getElementById(cityName).style.display = "block";
  evt.currentTarget.firstElementChild.className += " w3-border-red";
}
  </script>
{% block body %}{% endblock %}
</body>
</html>