{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block body %}
    <div id="Home" class="w3-container city">
    <br>
    <h1 align="center">Home</h1>
    <h3 align="center"><u> List Of Items </u></h3>
    <form name="fooditems" action="#"  method="post">
    <p>Please select every food that you want to order.</p>
    <ul>
        {% for item in items %}
            <li>
            <img src="{{ item.item_logo }}" />
            {{ item.item_name }}
            {{ item.item_price }}
            </li>
        {% endfor %}
    </ul>
 </form>

 </div>

{% endblock %}

